@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;                            
}
body{
   font-family: "Merriweather", serif;                         
}
/* banner style start here */
.banner-container{
max-width: 1320px;
min-height: 600px;
 margin: 0 auto;
 background-color: rgba(0,0,0,0.4);
 background-image: url(../images/Banner\ Image.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-blend-mode: overlay;
}
.banner-content p{
    color: white;
    font-size: 32px;
font-weight: 400;                          
}
.banner-content h1{
    color: white;
font-size: 72px;
font-weight: 900;                          
   }
.banner-content{
          display: flex;  
          flex-direction: column;                   
         justify-content: center; 
         align-items: center; 
         height: 600px;                   
}
/* 65% section start here */
.second-section{
     width: 802.9px;
    height: 806px;     
    border: 2px solid red;   
    margin: 0 auto;     
    margin-top: 120px;            
}
.section-container h3{
     color: red; 
     font-size: 400%;    
     text-align: center; 
     margin-bottom: 50px;                   
}
.section-container p{
  color: red;
  font-size: 100%;
  text-align: center;
}
.section-container h1{
 font-size: 150%;
 text-align: center;
 font-size: 180%;
  }
  .section-image{
  width: 802.9px;
  height: 500px;
  margin-top: 50px;
  }    
  /* 65% ends here */
  .midnight-container{
   width: 1320px;
   height: 600px;     
   border: 1px solid black; 
   margin: 0 auto;  
   background-color: rgba(0,0,0,0.4);
    background-image: url(../images/Vectorrr.png);
    margin-top: 50px; 
    display: flex;
    background-blend-mode: overlay;
  }
  .mid-left-column{
    width: 50%;                       
   height: 600px; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;                      
  }
  .mid-right-column{
     width: 50%;                       
     height: 600px;                       
     }
     .mid-left-column h1{
 color: rgb(255, 255, 255);
 font-family: Merriweather;
  font-size: 64px;
 font-weight: 900;                         
     }  
 .mid-left-column p{
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
 font-size: 18px;
 font-weight: 400;  
 padding-left: 10%;                                             
     }  
 #mid-button{
   color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;                        
     }
.mid-right-column{
    display: flex;
    justify-content: center;
    align-items: center;                          
}
/* midnught part ends here */
/* new park hotel start here */
.park-hotel-container{
  width: 1320px;
height: 482px;
margin: 0 auto;
margin-top: 120px;
border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.all-park-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 height: 500px;
}
.title{
  color: red;
  font-family: Inter;
font-size: 32px;
font-weight: 600;
}
 strong{
  color: red;
  font-family: Inter;
font-size: 32px;
font-weight: 600;
 }     
 .park-content p{
  font-family: Inter;
  font-size: 35px;
  font-weight: 600;
  margin: 10px;
 }   
  /*park hotel ends here  */

  /* holiday sele start here */
.hodiday-sale-container{
  width: 1320px;
height: 986.07px;
border: 2px solid red;
margin: 0 auto;
margin-top: 170px;
position: relative;
}
.holiday-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1068px;
  height: 260px;
  margin: 0 auto;
}
.holiday-text-container h4{
  width: 263px;
  height: 29px;
  color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday-text-container h1{
  width: 677px;
  height: 91px;
  font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holiday{
  color: rgb(255, 0, 0);
}
.holiday-text-container p{
  color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}
.solid-color{
width: 1320px;
height: 229px;
background-color: red;
position: absolute;
top: 77%;
}
.gift-box{
width: 674.82px;
height: 577.96px;
position: relative;
z-index: 1;
display: flex;
justify-content: space-between;
}
.girl-pic{
  width: 430;
  height: 433;
  position: relative;
  left: 30%;
  top: 9%;
}
.discount{
  position: absolute;
  top: 40%;
  left: 55%;
  z-index: 1;
}
/* holiday end here */
/* portfolio start here */
.portfolio-container{
width: 1320px;
height: 1163px; 
margin: 0 auto;
margin-top: 120px;
}
.portfolio-text-container h5{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 18px;
}
.portfolio-text-container h1{
color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.portfolio-text-container p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 18px;
margin-bottom: 20px;
}
.portfolio-item{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.item img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.item{
width: 424px;
height: 450px;
}
